[submodule "lib/common"]
	path = lib/common
	url = https://github.com/thunderbrewhq/common.git
[submodule "lib/squall"]
	path = lib/squall
	url = https://github.com/thunderbrewhq/squall.git
[submodule "lib/typhoon"]
	path = lib/typhoon
	url = https://github.com/thunderbrewhq/typhoon.git
[submodule "lib/system"]
	path = lib/system
	url = https://github.com/thunderbrewhq/system.git
[submodule "lib/bc"]
	path = lib/bc
	url = https://github.com/thunderbrewhq/bc.git
