name: Push

on:
  push:
    branches:
      - master

jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}

    strategy:
      fail-fast: false
      matrix:
        config:
          - name: Ubuntu Latest (GCC)
            os: ubuntu-latest
            build_type: Release
            test_path: WhoaTest
            cc: gcc
            cxx: g++

          - name: macOS Latest (Clang)
            os: macos-latest
            build_type: Release
            test_path: WhoaTest
            cc: clang
            cxx: clang++

          - name: Windows Latest (MSVC)
            os: windows-latest
            build_type: Release
            test_path: WhoaTest
            cc: cl
            cxx: cl

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Prepare
        run: mkdir build

      - name: Configure
        run: cmake .. -DCMAKE_BUILD_TYPE=${{ matrix.config.build_type }}
        working-directory: build

      - name: Build
        run: cmake --build . --config ${{ matrix.config.build_type }}
        working-directory: build

      - name: Install
        run: cmake --install . --config ${{ matrix.config.build_type }}
        working-directory: build

      - name: Test
        run: ./dist/bin/${{ matrix.config.test_path }}
        working-directory: build
